
        <header>
            <h1>Finstagram</h1>
        </header>
        <main role="main">


           <article class="finstagram-post">
                <div class="user-info">
                    <img src="https://i.imgur.com/su78JUv.jpg" alt="shark_lover3000">
                    <h2>A SHARK LOL</h2>
                    <h3>15 minutes ago</h3>
               </div>
                <a class="photo" href="#">
                    <img src="https://i.imgur.com/xQdHOaz.png" alt="SCARY shark phtoto">
                </a>
                <div class="actions">
                    999 likes
                    <span class="comment-count">32 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                             shark_lover3000: Out for the long weekend... too embarrassed to show y'all the beach bod!
                        </p>
                    </li>
                </ul>
            </article>

            <article class="finstagram-post">
                <div class="user-info">
                    <img src="https://live.staticflickr.com/65535/52358421348_f34c7996b1.jpg" alt="sorry not work">
                    <h2>whale_lover211</h2>
                    <h3>2 hours ago</h3>
                </div>
                <a class="photo" href="#">
                   <img src="https://live.staticflickr.com/65535/52357237337_1cc718f6a7_4k.jpg" alt="finstagram post from kirk_whalum">"
                </a>
                <div class="actions">
                    0 likes
                    <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                    <li>
                      <p>
                        sharky_j: Out for the long weekend... too embarrassed to show y'all the beach bod!
                      </p>
                    </li>
                  </ul>
            </article>

            <article class="finstagram-post">
                <div class="user-info">
                  <img src="https://live.staticflickr.com/65535/52358421348_f34c7996b1.jpg" alt="kirk_whalum">
                  <h2>kirk_whalum</h2>
                  <h3>1 hour ago</h3>
                </div>
                <a class="photo" href="#">
                  <img src="https://live.staticflickr.com/65535/52357237337_1cc718f6a7_4k.jpg" alt="finstagram post from kirk_whalum">
                </a>
                <div class="actions">
                  0 likes
                  <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                  <li>
                    <p>
                      kirk_whalum: #weekendvibes
                    </p>
                  </li>
                </ul>
              </article>
        </main>